@font-face {
    font-family: 'EASTARJET';
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/EASTARJET/EASTARJET-DemiLight.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/EASTARJET/EASTARJET-DemiLight.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/EASTARJET/EASTARJET-DemiLight.otf') format('opentype');
}
@font-face {
    font-family: 'EASTARJET';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/EASTARJET/EASTARJET-Medium.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/EASTARJET/EASTARJET-Medium.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/EASTARJET/EASTARJET-Medium.otf') format('opentype');
}
@font-face {
    font-family: 'EASTARJET';
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/EASTARJET/EASTARJET-Heavy.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/EASTARJET/EASTARJET-Heavy.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/EASTARJET/EASTARJET-Heavy.otf') format('opentype');
}
